@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  /* or overflow-y: scroll; */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    --mainBg: #2E2F34;
    --secondBg: #34353A;
    --mainColor: #D3AD63;
    --secondaryColor: #CFCDBD;
    --accentColor: #ffe590;
    --text_Color: #FFFCF5;

    @apply text-[#000000] bg-[#34353A] tracking-wide;
  }

}

/***************************MAIN****************************/


/*************************** Nav-Bar ****************************/
li {
  list-style: none;
}

.nav-item1 {
  margin-right: 150px;

}

.nav-item2 {
  margin-left: 150px;
  ;
}

.header-info {
  font-size: 40px;
  margin-left: 75px;
}

/*************************** Body ****************************/
.sub-header {
  color: white;
  font-size: 35px;
  margin-top: 20px;
  margin-left: 75px;
  text-decoration: underline;
}

.sub-text {
  color: white;
  font-size: 15px;
  width: 50%;
  margin-top: 20px;
}

/*************************** Footer ****************************/