@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Helvetica Neue fallback */
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  /* or overflow-y: scroll; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'helvetica-neue', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    --mainBg: #2E2F34;
    --secondBg: #34353A;
    --mainColor: #D3AD63;
    --secondaryColor: #CFCDBD;
    --accentColor: #ffe590;
    --text_Color: #FFFCF5;

    @apply text-[#000000] bg-[#ffffff] tracking-wide;
  }

}

/***************************MAIN****************************/
.pkmn-msg {
  width: 100%;
  max-width: 800px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  text-align: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* Start hidden */
  transition: opacity 0.4s ease-in-out;
}


.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-border {
  border: solid 1px #878787
}

/* generalized padding for work pages */
.asj-padding {
  margin: 15px 0;
}

.asj-width-margin {
  max-width: 650px;
}

.asj-width-margin-wide {
  max-width: auto;
}

.asj-width-margin-reach {
  max-width: 650px;
  margin-left: 15px;
}

.asj-width-margin-reach1 {
  max-width: 650px;

}

.footer-width-margin {
  max-width: 650px;
}

/*************************** Nav-Bar ****************************/

section {
  min-height: 100vh;
  /* Ensures that each section takes up at least full viewport height */
}

.header-info {
  font-size: 40px;
}

.fig-box {
  margin-top: 10px;
}

.nav-item1 {
  padding-top: 0.10rem;
}

.nav-item2 {
  padding-bottom: 0.30rem;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: black;
  /* Match your navbar background */
  z-index: 1000;
  /* Ensure it overlays other content */
}

.about-navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #bb9f8c;
  /* Match your navbar background */
  z-index: 1000;
  /* Ensure it overlays other content */
}

.navbar-dropdown li {
  padding: 2px 0;
  /* Adjust padding for menu items */
}

.about-navbar-dropdown li {
  padding: 2px 0;
  /* Adjust padding for menu items */
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  height: auto;
}

/* 
Blurred background when menu is open */
/* .blur-background {
  filter: blur(8px);
  transition: filter 0.3s ease;
} */

/* For smooth transition back to normal */
/* .no-blur {
  filter: blur(0);
  transition: filter 0.3s ease;
} */

/*************************** Body ****************************/
.sub-header {
  font-size: 35px;
  text-decoration: underline;
  font-family: 'Avenir', sans-serif;
}

.sub-text {
  color: black;
  font-size: 15px;
  width: 50%;
  margin-top: 20px;
  font-family: 'helvetica-neue', sans-serif;
}

.wf2-sub-div {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.sub-header2 {
  color: white;
  font-size: 35px;
  margin-top: 60px;
  text-decoration: underline;
}

.sub-text2 {
  color: white;
  font-size: 15px;
  width: 50%;
  margin-top: 20px;
}

.asj-sketch1 {
  height: 800px;
  width: 300px;
}

.asj-img-title {
  font-weight: 600;
}

.asj-carousel-font {
  font-weight: 600;
}

/*************************** About Page ****************************/

.pfp-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
  /* Ensures the image covers the entire container */
  height: auto;
  /* Maintains the aspect ratio */
  /* border-bottom: 16px solid #000; */
}

.about-box1 {
  display: flex;
  align-items: center;

}

.about-video {
  /* border-radius: 50%; */
  width: 620px;
  height: 300px;
  /* This makes it horizontally oval */
  object-fit: cover;
  /* border-bottom: 16px solid #000000; */
}

.about-text {

  font-size: 15px;
}


.caro1-btn {
  font-size: 30px;
  font-family: Arial;
  width: 52px;
  height: 52px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  background: #a57cde;
  margin: 0 20px;
}

.caro2-btn {
  font-size: 30px;
  font-family: Arial;
  width: 52px;
  height: 52px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  background: #000000;
  margin: 0 20px;
}

.buttonClass:hover {
  background: rgba(189, 16, 224, 1)
}

/*************************** Footer ****************************/



/*************************** RESPONSIVE ****************************/

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
  }

  .pkmn-page img {
    object-position: 48% center;
  }

  .ball1 {
    width: 100px !important;
    height: 50px !important;
    top: 55% !important;
    left: 10% !important;
  }

  .ball2 {
    width: 100px !important;
    height: 50px !important;
    top: 55% !important;
    right: 10% !important;
  }

  .ball3 {
    width: 100px !important;
    height: 50px !important;
    top: 70% !important;
    left: 44% !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 376px) and (max-width: 767px) {

  /* About  */

  .pkmn-page img {
    object-position: 48% center;
  }

  .ball1 {
    width: 75px !important;
    height: 50px !important;
    top: 55% !important;
    left: 10% !important;
  }

  .ball2 {
    width: 75px !important;
    height: 50px !important;
    top: 55% !important;
    right: 10% !important;
  }

  .ball3 {
    width: 75px !important;
    height: 50px !important;
    top: 70% !important;
    left: 43% !important;
  }


  .pfp {
    width: 300px;
    height: auto;
    border: 5px solid #000000 !important;

  }

  .res-width {
    width: 100% !important;
  }

  .res-width2 {
    width: 80% !important;
  }

  .sub-text {
    text-align: center;
    font-size: 15px !important;
  }

  .sub-header {
    font-size: 20px !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .about-text {
    font-size: 15px !important;
    width: 100% !important;
  }

  .about-boxes {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .about-box1 {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;

  }

  .about-box2 {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .about-video {
    border-radius: 0;
    width: 400px !important;
    height: auto !important;
    object-fit: cover;
    border: none;
    margin: 0 !important;
    margin: 20px 0 !important;
  }
}

/* Extra small devices (phones, less than 576px) */
@media only screen and (max-width: 375px) {
  /* Navbar */

  .navbar-container {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
  }

  .about-navbar-container {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
  }

  .pkmn-page img {
    object-position: 48% center;
  }

  .about-text {
    font-size: 5px !important;
    width: 100% !important;
  }

  .ball1 {
    width: 65px !important;
    height: 50px !important;
    top: 55% !important;
    left: 10% !important;
  }

  .ball2 {
    width: 65px !important;
    height: 50px !important;
    top: 55% !important;
    right: 9% !important;
  }

  .ball3 {
    width: 65px !important;
    height: 50px !important;
    top: 70% !important;
    left: 43% !important;
  }

  .work-text {
    font-size: 15px !important;
    line-height: 1.5 !important;
    height: auto !important;
    font-weight: 900 !important;
  }

  .header-info {
    font-size: 30px;
    text-align: center;

  }

  .yokai-img {
    max-width: 110%;
    height: auto;
  }


  /* REACH page */
  .res-margin-top {
    margin-top: 20px !important;
  }

  .reach-banner {
    max-width: 125%
  }

  .asj-width-margin-reach {
    max-width: 100%;
    margin-left: 0;
  }

  .footer-width-margin {
    max-width: 95% !important;
  }

  .reach-footer-title {
    font-size: 1.2rem !important;
    line-height: 1.2 !important;
    width: 100%;
  }

  .asj-width-margin-craig {
    max-width: 100%;
    margin-left: 0;
  }

  .reach-cols {
    font-size: 15px;
  }

  .carousel-res {
    width: 310px !important;
    height: auto;
    padding-right: 40px !important;
  }


  .caro1-btn {
    font-size: 25px;
  }

  /* About  */

  .pfp {
    width: 300px;
    height: auto;
    border: 5px solid #000000 !important;

  }

  .res-width {
    width: 100% !important;
  }

  .res-width2 {
    width: 90% !important;
  }

  .sub-text {
    text-align: center;
    font-size: 15px !important;
  }

  .sub-header {
    font-size: 20px !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .about-text {
    font-size: 15px !important;
    width: 100% !important;
  }

  .about-boxes {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .about-box1 {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
  }

  .about-box2 {
    display: flex;
    flex-direction: column-reverse !important;
  }

  .about-video {
    border-radius: 0;
    width: 500px !important;
    height: auto !important;
    object-fit: cover;
    border: none;
    margin: 0 !important;
    margin: 20px 0 !important;
  }

  /* Footer */

  /* .footer-text {
    font-size: 12px !important;
  } */
}