@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Helvetica Neue fallback */
@font-face {
  font-family: 'Avenir';
  src: url('/fonts/Avenir.ttf') format('truetype');
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/helvetica-neue-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}


html {
  scroll-behavior: smooth;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  /* or overflow-y: scroll; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'helvetica-neue', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

@layer base {
  body {
    --mainBg: #2E2F34;
    --secondBg: #34353A;
    --mainColor: #D3AD63;
    --secondaryColor: #CFCDBD;
    --accentColor: #ffe590;
    --text_Color: #FFFCF5;

    @apply text-[#000000] bg-[#ffffff] tracking-wide;
  }

}

/***************************MAIN****************************/
.pkmn-msg {
  width: 100%;
  max-width: 800px;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  color: #000;
  text-align: center;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* Start hidden */
  transition: opacity 0.4s ease-in-out;
}


.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.no-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.img-border {
  border: solid 1px #878787
}

/* generalized padding for work pages */
.asj-padding {
  margin: 15px 0;
}

.asj-width-margin {
  max-width: 650px;
}

.asj-width-margin-reach {
  max-width: 650px;
  margin-left: 15px;
}

.footer-width-margin {
  max-width: 650px;
}

/*************************** Nav-Bar ****************************/



.header-info {
  font-size: 40px;
}

.fig-box {
  margin-top: 10px;
}





/*************************** Body ****************************/
.sub-header {
  font-size: 35px;
  text-decoration: underline;
  font-family: 'Avenir', sans-serif;
}

.sub-text {
  color: black;
  font-size: 15px;
  width: 50%;
  margin-top: 20px;
  font-family: 'helvetica-neue', sans-serif;
}

.wf2-sub-div {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.sub-header2 {
  color: white;
  font-size: 35px;
  margin-top: 60px;
  text-decoration: underline;
}

.sub-text2 {
  color: white;
  font-size: 15px;
  width: 50%;
  margin-top: 20px;
}



/*************************** About Page ****************************/

.pfp-container {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
  display: block;
  width: 100%;
  /* Ensures the image covers the entire container */
  height: auto;
  /* Maintains the aspect ratio */
  /* border-bottom: 16px solid #000; */
}

.about-box1 {
  display: flex;
  align-items: center;

}

.about-video {
  border-radius: 50%;
  width: 400px;
  height: 250px;
  /* This makes it horizontally oval */
  object-fit: cover;
  border-bottom: 16px solid #000000;
}

.about-text {

  font-size: 14px;
}


.caro1-btn {
  font-size: 30px;
  font-family: Arial;
  width: 52px;
  height: 52px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  background: #a57cde;
  margin: 0 20px;
}

.caro2-btn {
  font-size: 30px;
  font-family: Arial;
  width: 52px;
  height: 52px;
  border-width: 1px;
  color: #fff;
  border-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  background: #000000;
  margin: 0 20px;
}

.buttonClass:hover {
  background: rgba(189, 16, 224, 1)
}

/*************************** Footer ****************************/



/*************************** RESPONSIVE ****************************/